.link-blue {
  color: #00a8cc;
}

a {
  color: #000;
  text-decoration: none;
}

.active {
  color: #ff6464;
}

ul {
  list-style: none;
  display: flex;
}
header {
  display: flex;
  justify-content: end;
  padding-block: 27px;
  padding-right: 60px;
}

.menu {
  gap: 32px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  width: 856px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
}
