* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recent__link {
  color: #00a8cc;
  font-size: 16px;
  font-weight: normal;
}

:root {
  --dark: #21243d;
}

a {
  color: #000;
  text-decoration: none;
}

.active {
  color: #ff6464;
}

ul {
  list-style: none;
  display: flex;
}
header {
  display: flex;
  justify-content: end;
  padding-block: 27px;
  padding-right: 60px;
}

.menu {
  gap: 32px;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.container {
  gap: 20px;
  margin: 0 auto;
  width: 856px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
  align-items: start;
}

.ava {
  width: 243px;
  height: 243px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: -5px 13px 0 #edf7fa;
}

.title {
  font-size: 44px;
  font-weight: bold;
  color: var(--dark);
}

.text {
  font-size: 16px;
  font-weight: normal;
  color: var(--dark);
}

.button {
  color: #fff;
  background-color: #ff6464;
  font-size: 20px;
  border-radius: 2px;
  padding: 9px 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.recent__top {
  display: flex;
  justify-content: space-between;
}

.recent__items {
  display: flex;
  gap: 20px;
}

.recent .post {
  flex-grow: 1;
}

.recent__container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.post {
  gap: 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.post__meta {
  display: flex;
  gap: 26px;
  font-size: 18px;
}

.recent {
  padding-block: 21px 32px;
  background-color: #edf7fa;
}

.about {
  padding-block: 127px 68px;
}

body {
  color: var(--dark);
}

.recent__title {
  font-size: 20px;
  font-weight: normal;
}

.post__title {
  font-size: 26px;
  font-weight: bold;
}

.post__text {
  font-size: 16px;
}

.featured{
padding-block: 20px 60px;
}

.featured__title{
font-size: 22px;
font-weight: normal;
}

.featured__items{
  padding-top: 25px;
  display: flex;
}

.work{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 18px;
}

.work__text{
  font-size: 16px;
}

.work__title{
font-size: 30px;
font-weight: 700;
}

.work__meta{
  font-size: 20px;
}

.work__year{
  color: #fff;
  background-color: #000;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 26px;
}

.featured__pic{
  width: 246px;
  height: 180px;
  object-fit: contain;
  border-radius: 6px;
}

.work__theme{
  opacity: 0.5
}